header {
  background-color: var(--dark-color);

  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

ul a {
  color: var(--optional-color);

  padding: 20px;

  font-size: 1.5rem;
  cursor: pointer;
}